<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Admin Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/admin.css ">
</head>

<body>
    <section class="main-wrapper">
        <div class="menu">
            <ul class="topnav" id="myTopnav">
                <li> <a href="admin.html" class="menu-btn">All Red-Flags</a></li>
                <li> <a href="all_intervention.html" id="active" class="menu-btn">All Interventions</a></li>
                <li><a href="login.html" class="menu-btn">Log Out</a></li>

            </ul>

        </div>
        <div>
            <h1>Interventions</h1>
            <table class="table1" id="Red-Flags">
                <tr>
                    <th>Id</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>CreatedBy</th>
                    <th>Location</th>
                    <th>status</th>
                    <th>File</th>
                    <th>Comment</th>
                    <th>Button</th>
                </tr>
                <tbody id="tabledata">

                </tbody>
            </table>
            <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h1>Update status</h1>
                        <form id="status-form">
                            <p id="error"></p>
                            <select id="select">
                                <option value="status">Select status</option>
                                <option value="rejected">rejected</option>
                                <option value="under investigation">under inviestigation</option>
                                <option value="resolved">resolved</option>
                                <br>
                                <input type="submit" class="btn" value="save" />
                        </form>
    
                    </div>
    
                </div>
        </div>
    </section>


    <script src="../js/get_allinterventions.js"></script>
</body>

</html>