<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Create Red-flag</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="../css/createflag.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/restrict.js"></script>
    <script>LoggedIn();</script>
</head>

<body>
    <script
        src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.2/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet'
        href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.2/mapbox-gl-geocoder.css'
        type='text/css' />
    <section class="red">
        <div class="menu">
            <ul class="topnav" id="myTopnav">
                <li> <a href="profile.html" id="active">Profile</a></li>
                <li> <a href="redflag.html">Red-Flags</a></li>
                <li> <a href="intervention.html"> Interventions</a></li>
                <li><a href="notifications.html">Notifications</a></li>
                <li><a onclick="logout()">Log Out</a></li>
            </ul>
            <div class="form-redflag" method="POST" action="#">
                <form enctype="multipart/form-data">
                    <br>
                    <div>
                        <p id="message1"></p>
                        <p id="error1"></p>

                    </div>
                    <select id="select">
                        <option value="incident">Select Incident Type</option>
                        <option value="redflag">Redflag</option>
                        <option value="intervention">Intervention</option>
                    </select>
                    <label>Comment</label><br>
                    <textarea name="" id="comment" cols="30" rows="10"></textarea>
                    <label>Upload Image</label><br>
                    <input type="file" id="file" placeholder="Choose an Image"><br />
                    <label>Location</label><br>
                    <input type="text" id="location" placeholder="cordinates" required> <br />

                    <div id="map"></div>
                    <div>
                        <input type="button" id="create-btn" value="Submit">
                    </div>
                </form>
            </div>
    </section>

    <script src="../js/create.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/logout.js"></script>
    <script src="../js/location.js"></script>

</body>

</html>