<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Interventions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/redflag.css">
</head>

<body>
    <section class="main-wrapper">
        <div class="menu">
            <ul class="topnav" id="myTopnav">
                <li> <a href="profile.html">Profile</a></li>
                <li> <a href="redflag.html">Red-Flags</a></li>
                <li> <a href="intervention.html" id="active"> Interventions</a></li>
                <li><a href="notifications.html">Notifications</a></li>
                <li><a href="login.html">Log Out</a></li>

            </ul>

        </div>
        <div class="profile">
            <a href="profile.html"><img src="../images/avatar.jpg" alt=""></a>
            <div class="profile-btn">
                <a href="createflag.html"> <button id="edit-btn"> Create </button></a>
            </div>

        </div>

        <div>
            <h1>Interventions</h1>
            <table class="table1" id="Red-Flags">
                <tr>
                    <th>id</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>status</th>
                    <th>File</th>
                    <th>Comment</th>
                    <th>Button</th>
                </tr>
                <tbody id="tabledata"> 
                    

                </tbody>
                <!-- <tr>
                    <td>chief justice recieves bribe of 20 million</td>
                    <td>solved</td>
                    <td>1/08/2005</td>
                    <td>
                        <input type="submit" name="btn-delete" id="delete-btn" onclick="clickAlert()" class="btn" value="delete" />
                        <a href="edit.html"><input type="submit" name="btn-edit" id="edit-btn" class="btn" value="edit" /></a>
                    </td>
                </tr>
                <tr>
                    <td>chief justice recieves bribe of 20 million</td>
                    <td>rejected</td>
                    <td>1/08/2005</td>
                    <td>
                        <input type="submit" id="delete-btn" name="btn-delete" onclick="clickAlert()" class="btn" value="delete" />
                        <a href="edit.html"><input type="submit" name="btn-edit" id="edit-btn" class="btn" value="edit" /></a>
                    </td>
                </tr>
                <tr>
                    <td>chief justice recieves bribe of 20 million</td>
                    <td>solved</td>
                    <td>1/08/2005</td>
                    <td>
                        <input type="submit" name="btn-delete" id="delete-btn" onclick="clickAlert()" class="btn" value="delete" />
                        <a href="edit.html"><input type="submit" name="btn-edit" class="btn" id="edit-btn" value="edit" /></a>
                    </td>
                </tr>
                <tr>
                    <td>chief justice recieves bribe of 20 million</td>
                    <td>draft</td>
                    <td>1/08/2005</td>
                    <td>
                        <input type="submit" name="btn-delete" id="delete-btn" onclick="clickAlert()" class="btn" value="delete" />
                        <a href="edit.html"><input type="submit" name="btn-edit" class="btn" id="edit-btn" value="edit" /></a>
                    </td>
                </tr>
                <tr>
                    <td>chief justice recieves bribe of 20 million</td>
                    <td>solved</td>
                    <td>1/08/2005</td>
                    <td>
                        <input type="submit" name="btn-delete" id="delete-btn" onclick="clickAlert()" class="btn" value="delete" />
                        <a href="edit.html"><input type="submit" name="btn-edit" class="btn" id="edit-btn" value="edit" /></a>
                    </td>
                </tr> -->
            </table>
        </div>
    </section>


    <script>
        function clickAlert() {
            window.alert("Are you sure?");
        }
    </script>
    <script src="../js/user.js"></script>
</body>

</html>