<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Red-Flags</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/redflag.css">
    <script src="../js/restrict.js"></script>
    <script>LoggedIn();</script>
</head>

<body>
    <section class="main-wrapper">
        <div class="menu">
            <ul class="topnav" id="myTopnav">
                <li> <a href="profile.html">Profile</a></li>
                <li> <a href="redflag.html" id="active">Red-Flags</a></li>
                <li> <a href="intervention.html"> Interventions</a></li>
                <li><a href="notifications.html">Notifications</a></li>
                <li><a onclick="logout()">Log Out</a></li>

            </ul>

        </div>
        <div>
            <div>
                <p id="message"></p>
            </div>


            <h1> Red-Flags</h1>
            <table class="table1" id="Red-Flags">
                <tr>
                    <th>Date</th>
                    <th>status</th>
                    <th>Comment</th>
                    <th>Button</th>
                </tr>
                <tbody id="tabledata">
                </tbody>
            </table>
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div id="results"></div>
                </div>

            </div>
        </div>
    </section>


    <script>
    </script>
    <script src="../js/user_redflags.js"></script>
    <script src="../js/edit_redflag.js"></script>
    <script src="../js/logout.js"></script>
</body>

</html>