<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>sign up</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <section id='main-container'>
        <div class="logo"></div> 
        <div class="header-menu">
            <ul class="topnav" id="myTopnav">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../index.html">About</a></li>
                <li><a href="./login.html">Log in</a></li>
            </ul>
        </div>
        <div class="form1">
            <div class="heading">
                <p>All feilds must be filled</p>
            </div>
            <form autocomplete="on" class="login-form" onsubmit="return false">
                <div class="heading">
                    <p id="error"></p>
                </div>
                <div class="login-input">
                    <label>First Name</label>
                    <input type="text" placeholder="Firstname" id="firstname" required>
                </div>
                <div class="login-input">
                        <label>Last Name</label>
                    <input type="text" placeholder="Lastname" id="lastname" required>
                </div>
                <div class="login-input">
                        <label>Telephone</label>
                    <input type="text" placeholder="Telephone" id="telephone" required>
                </div>
                <div class="login-input">
                        <label>Username</label>
                    <input type="text" placeholder="Username" id="username" required>
                </div>
                <div class="login-input">
                        <label>Email</label>
                    <input type="email" placeholder="3dna@gmail.com" id="email" required>
                </div>
                <div class="login-input">
                        <label>Password</label>
                    <input type="password" placeholder="Password" id="password" required>
                </div>
                <div class="login-input">
                        <label>Confirm Password</label>
                    <input type="password" placeholder="Confirm Password" id="confirmpass" required>
                </div>
                <div class="login-input">
                    <input type="submit" onclick="signup()" name="" value="Create">
                </div>
                <p><small><a href="../index.html">Back home</a></small></p>
            </form>
        </div>


    </section>


    <script src="../js/signup.js"></script>
</body>

</html>