body{
    background-color: black
}

/* .red{
    width: 80%;
    height: 80%;
    background-color: rgba(210, 210, 230, 0.507);
    margin-left: 10%;
    margin-top: 5%;
} */
#map{
    height: 200px;
}

.form-redflag{
    float: center;
    width: 60%;
    height: 60%;
    background-color: rgba(210, 210, 230, 0.829);
    margin-left: 19%;
    margin-top: 1%;
}

#submit-btn{
    border : 2px solid #3C3E52;
    background-color:rgba(8, 16, 90, 0.705);
    padding: 10px 15px;
    border-radius: 4px;
    width: 200px;
    cursor: pointer;
    font-size: 20px;
    transition-duration: 0.25s;
    align-self: center;
    color: white;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 4%;
}

#submit-btn:hover{
    background-color: rgba(14, 201, 45, 0.596);
}
input , textarea{
    margin-top:8px;
    padding:10px;
    margin-bottom:5px;
    border-radius:4px;
    border:1px solid rgb(87, 84, 81);
    width:50%;
    margin-left: 25%  
   }
label {
    /* padding: 3px 3px 3px 0; */
    display: inline-block;
    font-size: 24px;
    margin-left: 25%;
    margin-top: 3%;
  }

select{
    width: 52%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 25%;
  }
#back-btn{
    border : 2px solid #3C3E52;
    background-color:rgba(8, 16, 90, 0.705);
    padding: 10px 15px;
    border-radius: 4px;
    width: 100px;
    cursor: pointer;
    font-size: 20px;
    transition-duration: 0.25s;
    /* align-self: center; */
    color: white;
    margin-left: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
}
