
body{
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    background-size: cover; 
}
.intro{
    float: left;
    width: 80%;
    height: 50%;
    padding: 100px 100px 100px 100px;
    background: #fbf9f966;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 3%
}

.start-btn{
    margin-left: 40%;
}

.start-btn input {
    border: none;
    background: rgb(8, 235, 106);
    border-radius:12px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 3% 5%;
}
.start-btn input:hover {
    background: rgba(8, 235, 106, 0.589);
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
p{
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;  
}

@media only screen and (max-width:600px){
    .intro{
        float: left;
        width: 80%;
        height: 50%;
        padding: 100px 100px 100px 100px;
        background: #fbf9f966;
        margin-top: 2%;
        margin-left: auto;
    }

}


